img
  display: block !important
  -webkit-filter: brightness(0%) !important
  filter:brightness(0%) !important
iframe img
  -webkit-filter:brightness(0%) !important
  filter:brightness(0%) !important 
h1, h2
  color: black !important 
p,h3,ul
  background-color: black !important 
body 
  background-color:#777 !important
